html {
    height: auto;
    width: 100%;
    box-sizing: border-box;
}
body {
  margin: 0;
}
header {
    background-color: #d33a2c;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.navlogo {
    margin-top: 5px;
}
.smash {
    height: 76px;
    width: 210px;
}
.navicons {
    height: 49px;
    width: 38px;
}
.searchicon {
    height: 17px;
    width: 17px;
}
.navdiv {
    text-align: center;
}
.navdiv a, .navsearch a {
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.navdiv a:hover {
    color: black;
}
.navdiv a h1 {
    font-size: 16px;
    margin: 5px;
}
.navdiv a h4 {
    font-size: 12px;
    font-style: italic;
    margin: 0;
    padding: 0;
}
.adiv {
    margin: 0;
    padding: 0;
}
.navsearch {
    position: relative;
    right: 30px;
}
.navsearch a {
    display: flex;
    justify-content: space-between;
    width: 70px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
}
.container {
  position: relative;
  background-color: #d33a2c;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  padding-top: 15px;
  width: 100%;
  height: 1200px;
}
.latest {
  position: absolute;
  top: 3%;
  left: 32%;
  width: 35%;
  text-align: center;
}
.latest p {
  background-color: white;
  padding: 8px;
  width: fit-content;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 700;
}
.serious-red {
  position: absolute;
  width: 235px;
  right: 20px;
  top: 20px;
  display: flex;
  color: white;
}
.serious-red p {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 10px;
}
svg {
  width: 61px;
  height: 61px;
  fill: red;
  background-color: white;
}
.vitaly {
  background-color: #bc3428;
  padding-top: 140px;
}
.leonardo {
  background-color: #c7372a;
  padding-top: 140px;
}
.drew {
  background-color: #b13125;
}
.barry {
  background-color: #bc3428;
}
.img-name {
    margin-top: 45px;
}
.authors {
    padding-left: 35px;
}
.img-name, .authors ul {
    display: flex;
    list-style-type: none;
}
.img-name p, .authors p, .authors li {
    color: white;
}
.img-name p {
    font-size: 20px !important; 
    font-weight: 700;
}
.authors p {
    font-size: 45px;
    font-weight: 700;
}
.commentp {
    font-size: 16px !important;
    font-weight: 700;
}
.persons {
    height: 80px;
    width: 75px;
}
.authors li {
    margin: auto 20px;
}
.arrow {
  margin-bottom: 0;
}
.latest-posts {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 20px;
  background-color: #f6f3f2;
}
.latest-posts div {
  padding: 0 30px;
}
.latest-posts h5 {
  font-size: 16px;
  color: #666;
}
.latest-posts > h1 {
  font-size: 27px;
  font-weight: 700;
  text-decoration: underline;
}
.latest-posts h4 {
  font-size: 16px;
  font-weight: 700;
  color: #666;
}
.latest-posts h4 span {
  text-decoration: underline;
}
.latest-posts p {
  font-size: 20px;
  color: #333;
  line-height: 33px;
}
.article-arrow {
  color: #d33a2c;
  font-size: 30px;
  margin: 80px 0 0 -30px;
}
.advert {
  grid-column: 1 / -1;
  text-align: center;
  background-color: #d33a2c;
  margin: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advert div {
  width: 580px;
  padding-top: 25px;
  margin: 0 auto;
}
.advert-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advert img {
  width: 245px;
}
.advert h1 {
  font-size: 45px;
  border-bottom: 3px solid #e58980;
  color: white;
  width: fit-content;
}
.advert p {
  font-size: 20px;
  line-height: 33.5px;
  color: white;
  margin-top: 0;
}
.advert a {
  font-size: 20px;
  line-height: 33.5px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #e58980;
}
.advert h4, .ethical div h4 {
  background-color: white;
  color: #267dcc;
  font-size: 20px;
  border-radius: 15px;
  padding: 15px 20px;
  font-weight: 700;
}
.advert h5 {
  font-size: 15px;
  margin-top: 0;
  color: white;
  margin-bottom: 45px;
  font-weight: 300;
}
.advert h5 a {
  font-size: 15px;
}
.see-all {
  grid-column: 2 / 3;
  margin-bottom: 80px;
  justify-self: center;
  font-size: 12px;
  border-bottom: 4.5px solid #d33a2c;
  text-transform: uppercase;
}
.ethical {
    display: grid;
    grid-row: 1/-1;
    background-color: #76d0a4;
    justify-items: center;
}
.ethical div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 760px;
}
.ethical div h5 {
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.ethical div h1 a {
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid gray;
}
.ethical div h1 {
    margin-top: 0;
}
.ethical div h2 {
    padding-top: 0;
    margin-top: -19px;
    color: #182f23;
    font-size: 32px;
}
.ethical div p {
    margin-top: 0;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}
.ethical div img {
    width: 450px;
}
/* * {
    border: 1px solid green;
} */